.row{
    display: flex;
    width: 100%;
    flex-wrap: wrap;
}

h1{
    text-align: center;
    font-size: 24px;
}
p{
    font-size: 120%;
}
.biography:visited{
    color: #3ee5eb;
}
.biography:link{
    color: blueviolet;
}
.novadays:visited{
    color: #972a94;
}
.novadays:link{
    color: #b15bbb;
}
.friends:visited{
    color: #b967a2;
}
.friends:link{
    color: #006262;
}
.gallery:visited{
    color: #697ee5;
}
.gallery:link{
    color: #EB4C42;
}